In [12]:
squares = [1,4,9,16]

# About Lists
lists are mutable means they can be appended and changes

In [13]:
squares

[1, 4, 9, 16]

In [14]:
squares.append(25)

In [49]:
n = 100002229200920
print(n)

100002229200920

In [15]:
squares

[1, 4, 9, 16, 25]

In [16]:
squares[0]  = 2
print(squares)

[2, 4, 9, 16, 25]

In [17]:
count = 0
while len(squares) != count:  
    print(squares[count])
    count+= 1

2
4
9
16
25

In [18]:
mix = ["Rehna", 2,4]

In [19]:
mix

['Rehna', 2, 4]

# About Tuples
Tuples are  immutable, means they can't be appended and changed

In [20]:
ali = 19, "Software engineer" , 19

In [21]:
ali

(19, 'Software engineer', 19)

In [22]:
ali[0]

19

In [23]:
rehan = ali , 'unemployed'

In [24]:
rehan

((19, 'Software engineer', 19), 'unemployed')

# About set 
Sets have unique values or emement in it
we can perform | , - , & and ^ operations on sets

In [25]:
C = set()
print(C)

set()

In [26]:
A = {1,2,1,3}
B = {3, 4, 5 , 6}

In [27]:
print(A)
print(B)

{1, 2, 3}
{3, 4, 5, 6}

In [28]:
print(A - B)
print(A | B)
print(A & B)
print(A ^ B)

{1, 2}
{1, 2, 3, 4, 5, 6}
{3}
{1, 2, 4, 5, 6}

# About Dictionary
Dict contain {key : value }, we can access value by key and change value by key. Another important features of Dictionary 
comprehension which is used to create aribitrary key and value expression

In [29]:
AboutRehan = { "age" : 19, "address" : "Khuiratta"}

In [30]:
print(AboutRehan)
len(AboutRehan)

{'age': 19, 'address': 'Khuiratta'}

2

In [31]:
AboutRehan['age'] = 20
AboutRehan['Gender'] = "Male"

In [32]:
AboutRehan

{'age': 20, 'address': 'Khuiratta', 'Gender': 'Male'}

In [33]:
cubes = {x : x**3 for x in range(1 , 10, 2)}

In [34]:
cubes

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

# About functions

In [35]:
def add(x, y):
    return x + y
print(add(1,2))

3

In [36]:
def prime_numbers(n):
    primes = []
    count = 0
    for i in range(2, n):
        count = 0
        for j in range(2, i):
            if(i % j == 0):
                count = 1
                break
        if(count == 0):
            primes.append(i)
    return primes

In [37]:
print(prime_numbers(10))

[2, 3, 5, 7]

In [38]:
a = 0
b = 1

In [39]:
def fab(n):
    a = 0
    b = 1
    series = [0, 1]
    for i in range(n):
        t = a + b
        a = b
        b = t
        series.append(b)
    return series

In [40]:
print(fab(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# About Classes
self is used in classes which is as this in c++. it is used in every method and initilizer

In [41]:
class Chicken:
    def __init__(self , w = 0 , b = "" ):
        self.weight = w
        self.bread = b
    def int(self):
        print(f"This chicken is of bread {self.bread}. and has weight {self.weight}")

In [42]:
asel = Chicken(220, 'aseel')
print(asel.weight)
print(asel.bread)
asel.int()

220
aseel
This chicken is of bread aseel. and has weight 220

In [43]:
asel.weight = 200
print(asel.weight)

200

In [58]:
class Person:
    def __init__(self, n = "", addr = "" ,phone = 0000000000000000):
        self.name = n
        self.address = addr
        self.phone_number = phone
    def introduction(self):
        print(f"Name is: {self.name}, address is {self.address} and phone_number {self.phone_number} ")

class Employee(Person):
    def __init__(self,  n = "", addr = "" , phone = 0, id = 0):
        Person.__init__(n, addr,phone)
        self.Id = id
    def introduction(self):
        Person.introduction()
        print(f"Id is: {self.Id} ")

In [59]:
rehan = Person("Muhammad Rehan", "Hostel 6, IIUI, H 10 islamabad", +923161854586)
rehan.introduction()
rehan = Employee("Muhammad Rehan", "Hostel 6, IIUI, H 10 islamabad", +923161854586, 4404)

Name is: Muhammad Rehan, address is Hostel 6, IIUI, H 10 islamabad and phone_number 923161854586

AttributeError: 'str' object has no attribute 'name'